@import 'utility.scss';
@import 'reset.scss';
@import 'mediaquery.scss';
.hidden {
    display: none!important;
}

a {
  text-decoration: none;
  color: inherit;
}

// .noScroll {
//   overflow: hidden!important;
// }

body {
  // background-color: linen;
  font-family: Oswald;
  font-size: 24px;
}

div.landing {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  background-color: $white;
  width: 100vw;
  height: 100vh;
  /*top: 10%;*/
  /*left: 4%;*/
}
h1.landing {
  // font-family: EB Garamond;
  text-align: center;
  padding-top: 20%;
  color: $accentPink;
  line-height: 90%;
  // top: 50%;
  /*left: 4%;*/
  /*vertical-align: middle;*/
  font-size: 7.5em;
  letter-spacing: 10px;
}

div.bio {
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 130vh;
  top: 100%;
  background-color: $blue;
}
h1.bio {
  // font-family: EB Garamond;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10%;
  color: $darkGray;
  font-size: 3.5em;
  letter-spacing: 5px;
  width: 60%;
}

/****** description *******/

h1.work {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 4%;
  color: $accentPink;
  font-size: 1.5em;
  letter-spacing: 5px;
}

h3.work {
  font-family: EB Garamond;
  font-size: 0.8em;
  line-height: 1.5;
  padding-top: 1%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: $darkGray;
  letter-spacing: 2px;
  width: 30%;
}

a:hover {
  border-bottom: 1px solid;
  border-top: 1px solid;
  text-shadow: none;
}


p.work {
    font-size:0.8em;
    padding-top: 1%;
    letter-spacing: 1px;
}


.images {
height: 350px;
align: center;
margin: auto 0;
// width: 400px;
// display: inline-block;
// margin-left: auto;
// margin-right: auto;
// padding-left: 1%;
// padding-top: 3%;
// box-shadow: 2px 2px 5px #afafaf;
}

img {
max-width: 100%;
max-height: 100%;
// margin: auto;
margin: 2%;
margin-top: 3%;
vertical-align: middle;
box-shadow: 2px 2px 5px #afafaf;
display: inline-block;
}

// .span-circle {
//   width: 5px; height: 5px;
//   border-width: 5px;
//   border-style: solid;
//   -webkit-border-radius: 50%;
//   -moz-border-radius: 50%;
//   border-radius: 50%;
//   display: none;
//   position: absolute;
//   top: 0; left: 0;
//   z-index: 998;
// }

// .span-line {
//   width: 15px; height: 5px;
//   display: none;
//   position: absolute;
//   top: 0; left: 0;
//   z-index: 999;
// }

// .images .span-circle {
//   border-color: #7fa274;
// }

// .images .span-line {
//   background: #ceb829;
// }



/****** divs ********/

div.work-1 {
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 100vh;
  top: 210%;
  background-color: $white;
}

div.work-2 {
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 100vh;
  top: 310%;
  background-color: $green;
}

div.work-3 {
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 100vh;
  top: 410%;
  background-color: $blue;
}




// .landing {
//   position: absolute;
//   // text-align: center;
//   // vertical-align: middle;
//   background-color: $white;
//   width: 100vw;
//   height: 100vh;
//   // top: 10%;
//   // left: 4%;
//   h1.landing {
//       text-align: center;
//       padding-top: 20%;
//       color: $accentPink;
//       // top: 10%;
//       // left: 4%;
//       // vertical-align: middle;
//       font-size: 5.5em;
//       letter-spacing: 10px;
//   }
// }

// .bio {
//   position: absolute;
//   vertical-align: middle;
//   background-color: $accentPink;
//   top: 100%;
//   // margin-left: 20%;
//   // margin-right: 20%;
//   width: 100vw;
//   height: 50vh;
//     h2.bio {
//       text-align: center;
//       padding-left: 10%;
//       padding-right: 10%;
//       color: $white;
//       // top: 10%;
//       // left: 4%;
//       vertical-align: middle;
//       font-size: 2.5em;
//       letter-spacing: 3px;
//   }
// }


// ul.landing {
//     padding-left: 4%;
//     padding-top: 15%;
// }
// li.nav {
//     list-style-type: none;
//     text-decoration: none;
//     // display: inline-block;
//     // font-family: "Oswald", sans-serif;
//     font-size: 1em;
//     text-decoration: none;
//     // padding-left: 50px;
//     // padding-top: 10px;
//     a {
//         text-decoration: none;
//         margin-top: 40%;
//         border: 1px solid red;
//     }
// }

/** side pages **/

// .work {
//     text-align: center;
//     background-color: lemonchiffon;
//     position: absolute;
//     // top: 0;
//     // left: 0;
//     // right: 0;
//     // bottom: 0;
//     visibility: visible;
//     transform: translateY(-100%);
//     transition: transform 0.8s;
//     height: 100vh;
//     .description {
//         // background-color: #fff;
//         padding-top: 110px;
//         padding-bottom: 45px;
//         // padding-left: 80px;
//     }
//     .images {
//         background-color: salmon;
//         margin: auto;
//         left: 80px;
//         width: 300px;
//         // padding-top: ;
//         // padding-left: ;
//     }
// }

// .about {
//     text-align: center;
//     background-color: lemonchiffon;
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     visibility: visible;
//     transform: translateY(-100%);
//     transition: transform 0.8s;
//     // display: block;
//     // vertical-align: middle;
//     height: 200vh;
// }


/** close transition **/

.close {
    // top: 10px;
    // transform: translateX(100%);
    transition: transform 0.8s;
}


/** open transition & state **/

.active {
    transform: translateX(0%);
    transition: transform 0.8s;
}


/** push up state **/

.pushUp {
    transform: translateY(-100%);
    transition: transform 0.8s;
}


/* content */

// .firstProject {
//     top: 100%;
//     width: 100vw;
//     height: 100vh;
//     text-align: center;
//     // padding-top: 10px;
//     // padding-left: 10px;
//     background-color: salmon;
//     .description {
//         padding-top: 10px;
//         // background: #afafaf;
//         font-color: #fff;
//     }
//     .images {
//         background-color: #fff;
//         padding-top: 10px;
//         // padding-bottom: 10px;
//         width: 30vh;
//         height: 40vw;
//         // vertical-align: middle;
//     }
// }

// .secondProject {
//   top: 100%;
//     height: 100vh;
//     width: 100vw;
//     padding-top: 10px;
//     // padding-left: 10px;
//     text-align: center;
//     background-color: rgb(152, 211, 189);
// }

// .thirdProject {
//   top: 100%;
//     height: 100vh;
//     width: 100vw;
//     padding-top: 10px;
//     // padding-left: 10px;
//     text-align: center;
//     background-color: #9BABC2;
// }
