// COLORS FOR STELLA'S PORTFOLIO //
$gray: #afafaf;
$darkGray: #3E3C41;
$blue: RGBA(173,204,232,0.7);
$orange: RGBA(255,240,186,0.3);
// $pink: #f8ccd9;
$accentPink: #e6338a;
$white: #f1f2f2;
$violet: RGBA(221,225,246,1);
// $mint: RGBA(216,254,240,0.5);
$green: RGBA(209,237,241,1);
// $peach: #F3B196;




// FONTS FOR STELLA'S PORTFOLIO //
@import url('http://fonts.googleapis.com/css?family=Oswald:300');
@import url('http://fonts.googleapis.com/css?family=EB+Garamond');
