// COLORS FOR STELLA'S PORTFOLIO //
$gray: #afafaf;
$darkGray: #3E3C41;
$blue: #c0ddf5;
$pink: #f8ccd9;
$accentGreen: #33E634;
$accentPink: #e6338a;
$green: #a5d1ab;
$orange: #fbcf8c;
$white: #f1f2f2;




// FONTS FOR STELLA'S PORTFOLIO //
@import url('http://fonts.googleapis.com/css?family=Oswald:300');
@import url('http://fonts.googleapis.com/css?family=EB+Garamond');

