@import url("http://fonts.googleapis.com/css?family=Oswald:300");
@import url("http://fonts.googleapis.com/css?family=EB+Garamond");
* {
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*********************************************************************************************

Project : rwdgrid - responsive grid system for your next project
URI: http://rwdgrid.com/
Version: 2.0
Author: Vineeth G S
Author URI: http://www.gsvineeth.com
Github URI: https://github.com/gsvineeth/rwdgrid/

**********************************************************************************************

1.  Base code
2.  Mobile Grid
3.  Grid 720px+
4.  Grid 1024px+
5.  Grid 1200px+
6.  Helper classes

**********************************************************************************************/
/*********************************************************************************************

1.  Base code

*********************************************************************************************/
*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='grid-'] {
  float: left;
  padding: 10px;
  width: 100%;
}

.clear-grid {
  clear: both;
  float: inherit;
}

.container {
  margin: 0%;
  width: 100%;
}

.container:after, .container:before {
  display: table;
  clear: both;
  content: " ";
}

.nest {
  margin: 0 -10px;
  padding: 0;
  width: auto;
}

/*********************************************************************************************

2.  Mobile Grid

*********************************************************************************************/
.grid-m-12 {
  width: 100%;
}

.grid-m-11 {
  width: 91.666663%;
}

.grid-m-10 {
  width: 83.33%;
}

.grid-m-9 {
  width: 74.999997%;
}

.grid-m-8 {
  width: 66.66666664%;
}

.grid-m-7 {
  width: 58.333%;
}

.grid-m-6 {
  width: 50%;
}

.grid-m-5 {
  width: 41.6665%;
}

.grid-m-4 {
  width: 33.33%;
}

.grid-m-3 {
  width: 24.99%;
}

.grid-m-2 {
  width: 16.66666%;
}

.grid-m-1 {
  width: 8.33%;
}

/*********************************************************************************************

3.  Grid 720px+

*********************************************************************************************/
@media (min-width: 720px) {
  .grid-12 {
    width: 100%;
  }
  .grid-11 {
    width: 91.666663%;
  }
  .grid-10 {
    width: 83.33%;
  }
  .grid-9 {
    width: 74.999997%;
  }
  .grid-8 {
    width: 66.66666664%;
  }
  .grid-7 {
    width: 58.333%;
  }
  .grid-6 {
    width: 50%;
  }
  .grid-5 {
    width: 41.6665%;
  }
  .grid-4 {
    width: 33.33%;
  }
  .grid-3 {
    width: 24.99%;
  }
  .grid-2 {
    width: 16.66666%;
  }
  .grid-1 {
    width: 8.33%;
  }
  .grid-t-12 {
    width: 100%;
  }
  .grid-t-11 {
    width: 91.666663%;
  }
  .grid-t-10 {
    width: 83.33%;
  }
  .grid-t-9 {
    width: 74.999997%;
  }
  .grid-t-8 {
    width: 66.66666664%;
  }
  .grid-t-7 {
    width: 58.333%;
  }
  .grid-t-6 {
    width: 50%;
  }
  .grid-t-5 {
    width: 41.6665%;
  }
  .grid-t-4 {
    width: 33.33%;
  }
  .grid-t-3 {
    width: 24.99%;
  }
  .grid-t-2 {
    width: 16.66666%;
  }
  .grid-t-1 {
    width: 8.33%;
  }
}

/*********************************************************************************************

4.  Grid 1024px+

*********************************************************************************************/
@media only screen and (min-width: 1024px) {
  .grid-tl-12 {
    width: 100%;
  }
  .grid-tl-11 {
    width: 91.666663%;
  }
  .grid-tl-10 {
    width: 83.33%;
  }
  .grid-tl-9 {
    width: 74.999997%;
  }
  .grid-tl-8 {
    width: 66.66666664%;
  }
  .grid-tl-7 {
    width: 58.333%;
  }
  .grid-tl-6 {
    width: 50%;
  }
  .grid-tl-5 {
    width: 41.6665%;
  }
  .grid-tl-4 {
    width: 33.33%;
  }
  .grid-tl-3 {
    width: 24.99%;
  }
  .grid-tl-2 {
    width: 16.66666%;
  }
  .grid-tl-1 {
    width: 8.33%;
  }
}

/*********************************************************************************************

5.  Grid 1200px+

*********************************************************************************************/
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1180px;
    margin: 0 auto;
  }
  .container-fluid {
    max-width: 90%;
    margin: 0 5%;
  }
  .grid-d-12 {
    width: 100%;
  }
  .grid-d-11 {
    width: 91.666663%;
  }
  .grid-d-10 {
    width: 83.33%;
  }
  .grid-d-9 {
    width: 74.999997%;
  }
  .grid-d-8 {
    width: 66.66666664%;
  }
  .grid-d-7 {
    width: 58.333%;
  }
  .grid-d-6 {
    width: 50%;
  }
  .grid-d-5 {
    width: 41.6665%;
  }
  .grid-d-4 {
    width: 33.33%;
  }
  .grid-d-3 {
    width: 24.99%;
  }
  .grid-d-2 {
    width: 16.66666%;
  }
  .grid-d-1 {
    width: 8.33%;
  }
}

/*********************************************************************************************

6.  Helper classes

*********************************************************************************************/
img.scale, img.responsive {
  max-width: 100%;
  height: auto;
}

body {
  font-family: Oswald;
  background-color: #f1f2f2;
}

a {
  text-decoration: none;
  color: inherit;
}

.landing {
  width: 100vw;
  height: 100vh;
  text-align: center;
  top: 0%;
  background-color: #f1f2f2;
}

.biography {
  width: 100vw;
  height: 100vh;
  text-align: center;
  top: 0%;
  background-color: RGBA(173, 204, 232, 0.7);
}

.work-1 {
  width: 100vw;
  height: 100vh;
  text-align: center;
  top: 0%;
  height: 115vh;
  background-color: RGBA(221, 225, 246, 1);
}

.work-2 {
  width: 100vw;
  height: 100vh;
  text-align: center;
  top: 0%;
  background-color: RGBA(209, 237, 241, 1);
}

.work-3 {
  width: 100vw;
  height: 100vh;
  text-align: center;
  top: 0%;
  height: 105vh;
  background-color: RGBA(255, 240, 186, 0.3);
}

.work-4 {
  width: 100vw;
  height: 100vh;
  text-align: center;
  top: 0%;
  height: 130vh;
  background-color: RGBA(209, 237, 241, 1);
}

.work-5 {
  width: 100vw;
  height: 100vh;
  text-align: center;
  top: 0%;
  height: 140vh;
  background-color: RGBA(173, 204, 232, 0.7);
}

.welcome {
  text-align: center;
  padding-top: 20%;
  color: #e6338a;
  line-height: 90%;
  text-transform: uppercase;
  font-size: 7.5em;
  letter-spacing: 10px;
}

.work--title {
  text-align: center;
  text-transform: uppercase;
  padding-top: 2%;
  color: #e6338a;
  letter-spacing: 5px;
  font-size: 1.5em;
}

.work--description {
  font-family: EB Garamond;
  line-height: 1.5;
  padding-top: 1%;
  color: #3E3C41;
  letter-spacing: 2px;
  margin: auto;
  font-size: 1.1em;
}

.biography--title {
  text-align: center;
  text-transform: uppercase;
  padding-top: 2%;
  color: #e6338a;
  letter-spacing: 5px;
  font-size: 2em;
}

.biography--description {
  font-family: EB Garamond;
  line-height: 1.5;
  padding-top: 1%;
  color: #3E3C41;
  letter-spacing: 2px;
  margin: auto;
  font-size: 1.4em;
}

.work--tools {
  font-size: 1em;
  padding-top: 1.5%;
  letter-spacing: 2px;
}

a:hover {
  border-bottom: 1px dashed;
  text-shadow: none;
}

.assets a:hover {
  border-bottom: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 3%;
  box-shadow: 2px 2px 5px #afafaf;
}

.footer {
  width: 100vw;
  height: 100vh;
  text-align: center;
  top: 0%;
  height: 7vh;
  background-color: #f1f2f2;
  top: 93%;
  bottom: 0px;
  position: fixed;
}

.footer a {
  color: #3E3C41;
  font-size: 1.4em;
  padding-left: 10px;
}

.footer a:hover {
  color: #e6338a;
  border: none;
}
